doctype html
| <!--[if IE 8 ]><html xmlns="http://www.w3.org/1999/xhtml" class="no-js ie8" lang="en"><![endif]-->
| <!--[if IE 9 ]><html xmlns="http://www.w3.org/1999/xhtml" class="no-js ie9" lang="en"><![endif]-->

html(lang='#{pageLang}')
	head
		title La Farinera del Clot

		meta(charset="utf-8")
		meta(http-equiv="x-ua-Compatible" content="ie=edge")
		meta(name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width, shrink-to-fit=no")

		link(rel="stylesheet" type="text/css" href="/assets/plugins/bootstrap/bootstrap.min.css")
		link(rel="stylesheet" type="text/css" href="/assets/css/nitro.min.css")

	body
		.container.p-y-lg-3
			.row
				.col-md-4.col-md-push-4.col-sm-6.col-sm-push-3

					.list-group
						a.list-group-item(href="home.html") 01. Home

						a.list-group-item(href="noticies.html") 02. Notícies

						a.list-group-item(href="agenda.html") 03. Agenda (calendario)

						a.list-group-item(href="agenda-2.html") 04. Agenda (lista)

						a.list-group-item(href="noticies-article.html") 05. Notícies (article)

						a.list-group-item(href="cursos.html") 06. Cursos I Tallers

						a.list-group-item(href="espais.html") 07. Espais

						a.list-group-item(href="espais-normativa.html") 08. Espais (normativa)

						a.list-group-item(href="espais-tarifes.html") 09. Espais (tarifes)

						a.list-group-item(href="espais-sollicitud.html") 10. Espais (sollicitud)

						a.list-group-item(href="projectes.html") 11. Projectes

						a.list-group-item(href="projectes-sil.html") 12. Projectes (say it loud)

						a.list-group-item(href="projectes-convocatories.html") 13. Projectes (convocatòries)

						a.list-group-item(href="projectes-cat.html") 14. Projectes (category)
						
						a.list-group-item(href="projectes-cat2.html") 15. Projectes (category 2)

						a.list-group-item(href="centre-cultural.html") 16. Centre Cultural la Farinera del Clot

						a.list-group-item(href="gestio.html") 17. Gestió

						a.list-group-item(href="gestio-entitats.html") 18. Gestió (entitats)

						a.list-group-item(href="click.html") 19. CLICK
						
						a.list-group-item(href="amp.html") 20. Antonio Miró Peris 









