mixin card()
	.card.card-horz
		.col-flex-5
			a.card.height-percent-100(href="#" style="background-image:url('assets/images/01.jpg')")
				.card-block
					span.label.label-o EXPOSICIÓ
			
		.col-flex-7
			.card-block
				.h4 
					a(href="#") 20a Mostra d'audiovisuals i fotografia de muntanya

			.card-block
				ul.info
					li 
						svg.icon: use(xlink:href="#ico-calendar")
						span 10/01/2017
					li 
						svg.icon: use(xlink:href="#ico-clock")
						span 21:30h.
					li 
						svg.icon: use(xlink:href="#ico-pin")
						span La Farinera del Clot