.social
	a(href="#")
		span.sr-only facebook
		svg: use(xlink:href="#ico-facebook")

	a(href="#")
		span.sr-only twitter
		svg: use(xlink:href="#ico-twitter")

	a(href="#")
		span.sr-only instagram
		svg: use(xlink:href="#ico-instagram")

	a(href="#")
		span.sr-only youtube
		svg: use(xlink:href="#ico-youtube")