include ../partials/_data.jade
block pageData

doctype html
| <!--[if IE 8 ]><html xmlns="http://www.w3.org/1999/xhtml" class="no-js ie8" lang="en"><![endif]-->
| <!--[if IE 9 ]><html xmlns="http://www.w3.org/1999/xhtml" class="no-js ie9" lang="en"><![endif]-->

html(lang='#{pageLang}')
	head
		include ../partials/_head.jade

	body
		include ../../assets/svg/sprite.svg
		include ../partials/_navbar-alt.jade

		block content

		include ../partials/_footer.jade

		include ../partials/_scripts.jade