@import url("https://fonts.googleapis.com/css?family=Oswald:300,400,700");
body {
  background: #fff;
  color: #4D4D4D;
  font: 300 16px/1.5 "Oswald", sans-serif;
  letter-spacing: .5px;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
    height:100%;}

a.link {
  color: #009A98;
  text-decoration: underline; }
  a.link:hover {
    color: #006766; }

p {
  margin-bottom: 23px; }

strong {
  font-weight: 400; }

hr.dotted {
  border-top: dashed 1px #999; }

.display-4 {
  font-size: 3rem; }

.display-4 + .lead {
  color: #888;
  font-size: 1rem; }

.downarr {
  border-top: solid 18px #fff;
  border-left: solid 20px transparent;
  border-right: solid 20px transparent;
  margin-left: -20px;
  left: 50%;
  top: 0;
  position: absolute;
  z-index: 30; }

.navbar-toggle {
  color: transparent;
  border-top: solid 2px #fff;
  border-bottom: solid 2px #fff;
  font-size: 0;
  line-height: 0;
  width: 30px;
  height: 20px;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  border-radius: 0;
  -webkit-transition: .2s;
  transition: .2s;
  position: relative; }
  .navbar-toggle::before, .navbar-toggle::after {
    background: #fff;
    height: 2px;
    width: 100%;
    left: 0;
    -webkit-transition: .2s;
    transition: .2s;
    position: absolute; }
  .navbar-toggle::before {
    content: '';
    top: 7px; }
  .navbar-toggle:hover {
    border: solid 2px #fff;
    height: 30px; }
    .navbar-toggle:hover::before, .navbar-toggle:hover::after {
      width: 50%;
      height: 50%;
      left: 25%;
      top: 25%;
      opacity: .5; }

/*-----------------------------------------------------*/
/*	GLOBAL BUTTONS
/*-----------------------------------------------------*/
.btn {
  font-family: "Oswald", sans-serif;
  font-weight: 300; }

.btn:not(*) {
  font-size: 1rem; }

.btn.btn-secondary {
  border-color: #923E56;
  color: #923E56; }
  .btn.btn-secondary:hover, .btn.btn-secondary:active, .btn.btn-secondary:focus {
    background: #923E56;
    color: #fff; }
    .btn.btn-secondary:hover > *, .btn.btn-secondary:active > *, .btn.btn-secondary:focus > * {
      color: #fff; }
  .btn.btn-secondary:not(.btn-outline) {
    background: #923E56;
    color: #fff; }
    .btn.btn-secondary:not(.btn-outline):hover, .btn.btn-secondary:not(.btn-outline):active, .btn.btn-secondary:not(.btn-outline):focus {
      background: #6e2f41; }

.btn.btn-inverse {
  background: #fff;
  border-color: #fff;
  color: #009A98; }
  .btn.btn-inverse:hover, .btn.btn-inverse:active, .btn.btn-inverse:focus {
    background: transparent;
    color: #fff; }
    .btn.btn-inverse:hover > *, .btn.btn-inverse:active > *, .btn.btn-inverse:focus > * {
      color: #fff; }

.btn-download {
  font-size: .9rem;
  line-height: 0;
  height: 54px;
  margin-left: 15px; }
  .btn-download small {
    line-height: 1.3; }

/*-----------------------------------------------------*/
/*	CARDS
/*-----------------------------------------------------*/
.card-primary {
  color: #fff; }

.card-secondary {
  background: #923E56;
  color: #fff; }

.card-default {
  border: solid 1px #4D4D4D; }

.card-featured {
  border: solid 2px #009A98; }

.card-dotted {
  border-style: dashed;
  border-color: #999; }

.card-full-image {
  background-size: cover;
  width: 100%;
  height: 100%;
  margin: 0; }

.card-thumbnail-svg {
  height: 86%;
  left: 15px;
  top: 7%;
  position: absolute;
  z-index: 30; }
  .card-thumbnail-svg .svg {
    height: 100%; }

.card-badge {
  background: #009A98;
  color: #fff;
  border: solid 5px #fff;
  text-align: center;
  width: 130px;
  height: 130px;
  right: 30px;
  bottom: -35px;
  position: absolute;
  border-radius: 1000px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
  z-index: 30; }
  .card-badge .content {
    padding-top: 15px; }
    .card-badge .content span {
      font-size: 3.5rem;
      line-height: 1;
      font-weight: 500;
      display: block; }
    .card-badge .content small {
      font-size: 1.6rem;
      line-height: 1;
      font-weight: 500;
      display: block; }
  .card-badge .label {
    background: #fff;
    color: #009A98;
    font-size: .85rem;
    padding: 7px 10px;
    margin-top: -10px;
    left: -80px;
    top: 50%;
    position: absolute; }
    .card-badge .label::after {
      content: '';
      border-left: solid 10px #fff;
      border-top: solid 14px transparent;
      border-bottom: solid 14px transparent;
      right: -10px;
      top: 0;
      position: absolute; }

.card-thumbnail.bg-primary {
  background: #009A98; }

.separator.separator-primary {
  background: #009A98; }

.separator.separator-secondary {
  background: #923E56; }

.text-primary {
  color: #009A98; }

.text-secondary {
  color: #923E56; }

.img-overlay img {
  mix-blend-mode: multiply; }

.img-overlay:hover img {
  mix-blend-mode: unset; }

/*-----------------------------------------------------*/
/*	TITLES
/*-----------------------------------------------------*/
.title-undeline {
  border-bottom: solid 2px #009A98;
  color: #009A98;
  font-weight: 500;
  text-transform: uppercase;
  padding-bottom: 10px;
  margin-bottom: 30px;
  display: block; }
  .title-undeline > small,
  .title-undeline > small a {
    color: #4D4D4D;
    font-size: 80%;
    font-weight: 300;
    line-height: 1.4;
    text-transform: none;
    top: 1px;
    position: relative; }
  .title-undeline::after {
    content: '';
    clear: both;
    display: block; }

/*-----------------------------------------------------*/
/*	HERO
/*-----------------------------------------------------*/
.hero {
  /*background: #009A98;*/
  color: #fff;
  padding: 100px 0 50px;
  position: relative !important;
  overflow: hidden;
  top:0px;}
  .hero .navbar {
    width: 100%;
    padding-top: 10px;
    margin: 0;
    top: 0;
    position: fixed;
    -webkit-transition: .4s;
    transition: .4s;
    z-index: 50; }
    .hero .navbar .bootstrap-select {
      width: 100% !important;
      padding-top: 5px; }
      .hero .navbar .bootstrap-select .btn-default {
        background-color: transparent;
        border-color: rgba(255, 255, 255, 0.6);
        border-width: 1px;
        width: auto;
        height: 34px;
        float: right;
        border-radius: 4px; }
      .hero .navbar .bootstrap-select.btn-group .dropdown-toggle::after {
        border-top-color: #fff;
        top: calc(50% - 3px);
        position: absolute; }
      .hero .navbar .bootstrap-select.btn-group .dropdown-toggle .filter-option {
        color: #fff;
        font-size: .9rem;
        line-height: 1.2; }
  .hero .navbar.alt-nav {
    background: #fff;
    border-bottom: solid 1px #ddd; }
    .hero .navbar.alt-nav #main-navbar ul.nav .nav-link {
      color: #009A98; }
    .hero .navbar.alt-nav .navbar-brand path {
      fill: #009A98 !important; }
    .hero .navbar.alt-nav .bootstrap-select .btn-default {
      border-color: #009A98; }
    .hero .navbar.alt-nav .bootstrap-select.btn-group .dropdown-toggle::after {
      border-top-color: #009A98; }
    .hero .navbar.alt-nav .bootstrap-select.btn-group .dropdown-toggle .filter-option {
      color: #009A98; }
  .hero #main-navbar {
    text-align: center; }
    .hero #main-navbar ul.nav {
      display: inline-block;
      float: none; }
      .hero #main-navbar ul.nav .nav-item {
        font-family: "Oswald", sans-serif;
        font-size: 1.1rem;
        text-transform: uppercase;
        font-weight: 300;
        letter-spacing: .5px; }
      .hero #main-navbar ul.nav .nav-link {
        color: #fff; }
      .hero #main-navbar ul.nav .nav-item.active .nav-link,
      .hero #main-navbar ul.nav .nav-link:hover,
      .hero #main-navbar ul.nav .nav-link:active,
      .hero #main-navbar ul.nav .nav-link:focus {
        background-color: transparent;
        opacity: .6; }
  .hero .hero-bg {
    width: 100%;
    position: absolute !important;
    z-index: 1;
    left: 0px;
    top: 0px;}
  .hero > .container {
    text-align: center;
    position: relative;
    z-index: 30; }
    .hero > .container h1 {
      font-size: 4rem;
      font-weight: 400;
      text-transform: uppercase;
      display: inline-block; }
    .hero > .container .page-description {
      font-family: "Oswald", sans-serif;
      font-size: 1.3rem;
      text-transform: uppercase;
      letter-spacing: 1px; }

.navbar-brand {
  width: 150px; }

.iso-mountain {
  width: 230px; }

.iso-xl,
.iso-wave {
  width: 360px; }

/*-----------------------------------------------------*/
/*	PACE
/*-----------------------------------------------------*/
.pace {
  background: #fff;
  width: 100%;
  height: 100%;
  -webkit-transition: .3s;
  transition: .3s;
  position: fixed;
  pointer-events: unset;
  z-index: 9999; }
  .pace .pace-progress {
    background: #009A98;
    height: 4px; }

.pace-active {
  display: block;
  opacity: 1;
  visibility: visible; }

.pace-inactive {
  display: block;
  opacity: 0;
  visibility: hidden; }

.pace-done .pace-inactive {
  z-index: -1; }

.pace-running {
  overflow: hidden; }

/*-----------------------------------------------------*/
/*	TEXT HEADERS
/*-----------------------------------------------------*/
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Oswald", sans-serif; }

/*-----------------------------------------------------*/
/*	RESERVA
/*-----------------------------------------------------*/
.form-left {
  padding-right: 80px; }

.form-right {
  padding-left: 80px; }

/*-----------------------------------------------------*/
/*	PORTFOLIO GRID
/*-----------------------------------------------------*/
.portfolio-grid {
  margin: 50px 0; }
  .portfolio-grid .img-portfolio {
    border: solid 3px #fff;
  float: left;
  display: block;}
  .both{
    clear: both;
  }

/*-----------------------------------------------------*/
/*	BANNER GIRONACAMPERS
/*-----------------------------------------------------*/
.banner-gironacampers {
  background: url("../images/banner-girocampers.jpg") center/cover;
  color: #fff;
  text-align: center;
  padding: 30px 0 40px; }
  .banner-gironacampers .separator {
    max-width: 70px; }

/*-----------------------------------------------------*/
/*	MODELS NAV
/*-----------------------------------------------------*/
.modelsnav {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  pointer-events: none; }
  .modelsnav .btn {
    font-size: 1.9rem;
    width: 50px;
    height: 50px;
    max-width: 100px;
    max-height: 100px;
    letter-spacing: 3px;
    top: 50%;
    position: relative;
    pointer-events: initial;
    border-radius: 100px; }
    .modelsnav .btn:hover {
      background-color: #fff !important; }
    .modelsnav .btn:hover span {
      color: #009A98; }
    .modelsnav .btn + .btn {
      letter-spacing: -3px; }

.product-features .feature-icon {
  width: 120px;
  margin-top: -60px; }

.product-features .card {
  height: calc(100%); }

.block-features {
  margin: 0 -6px 30px; }
  .block-features .block {
    border: solid 1px #ddd;
    width: 69px;
    height: 69px;
    margin: 0 6px;
    float: left;
    position: relative; }
    .block-features .block .svg {
      width: 100%; }
    .block-features .block .counter {
      text-align: center;
      font-weight: 400;
      width: 100%;
      left: 0;
      bottom: 3px;
      position: absolute; }
  .block-features::after {
    content: '';
    clear: both;
    display: block; }

/*-----------------------------------------------------*/
/*	LIST GROUP
/*-----------------------------------------------------*/
.list-group .panel {
  border: solid 1px #ccc;
  border-bottom-width: 2px;
  margin-bottom: 5px; }
  .list-group .panel .list-group-item {
    background: #fff;
    border-color: transparent;
    border-radius: 0; }
    .list-group .panel .list-group-item[data-toggle="collapse"]:before {
      content: '+';
      color: #009A98;
      font-size: 30px;
      top: 18px; }
    .list-group .panel .list-group-item[data-toggle="collapse"]:after {
      content: '-';
      color: #6F6F6F;
      font-size: 40px;
      top: 16px;
      -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
      transform: translate(0, 0);}
    .list-group .panel .list-group-item .radio {
      margin: -1px 10px 0 0;
      float: left; }

/*-----------------------------------------------------*/
/*	POST
/*-----------------------------------------------------*/
.post .card-img {
  position: relative; }
  .post .card-img .date {
    background: #fff;
    color: #009A98;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 3px 10px;
    display: inline-block;
    right: 0;
    top: 30px;
    position: absolute;
    z-index: 30; }

/*-----------------------------------------------------*/
/*	CARD EXCERPT
/*-----------------------------------------------------*/
.card-excerpt {
  border-color: transparent; }
  .card-excerpt .card-block {
    padding-left: 0;
    padding-right: 0; }
  .card-excerpt .card-img {
    position: relative; }
    .card-excerpt .card-img .date {
      background: #fff;
      color: #009A98;
      font-size: 1rem;
      font-weight: 500;
      letter-spacing: 1px;
      padding: 3px 10px;
      margin-top: -15px;
      display: inline-block;
      left: 0;
      top: 50%;
      position: absolute;
      z-index: 30; }
  .card-excerpt .post-title {
    color: #009A98;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.3;
    padding-bottom: 10px;
    display: inline-block; }
    .card-excerpt .post-title:hover {
      color: #006766; }

.categories {
  color: #009A98;
  font-size: .9rem; }
  .categories a {
    color: #009A98; }
  .categories span {
    padding: 0 4px;
    display: inline-block; }

/*-----------------------------------------------------*/
/*	PAGINATION
/*-----------------------------------------------------*/
.pagination {
  margin: 0; }
  .pagination li {
    display: inline-block; }
    .pagination li a {
      font-family: 'Open Sans', sans-serif;
      line-height: 2;
      width: 35px;
      height: 35px;
      padding: 0;
      border-radius: 100px; }
    .pagination li.active a {
      border-color: #009A98;
      background: #009A98; }
  .pagination li:first-child {
    margin-right: 20px;
    text-indent: -2px; }
  .pagination li:last-child {
    margin-left: 20px;
    text-indent: 2px; }
  .pagination li:first-child a,
  .pagination li:last-child a {
    color: #B8B8B8;
    border-color: #B8B8B8;
    font-size: 30px;
    line-height: 0;
    border-radius: 100px; }
    .pagination li:first-child a:hover,
    .pagination li:last-child a:hover {
      background: #009A98;
      border-color: #009A98;
      color: #fff; }

/*-----------------------------------------------------*/
/*	SOCIAL
/*-----------------------------------------------------*/
.social {
  text-align: center;
  padding-bottom: 30px;
  z-index: 30; }
  .social .btn.btn-primary {
    background: #fff;
    margin: 0 5px; }
  .social i {
    font-size: 110%;
    top: -6px; }
  .social.pull-to-top {
    margin-top: -20px; }
    .social.pull-to-top .btn.btn-primary {
      border-color: #fff; }
  .social.text-right {
    text-align: right; }

.btn .fa-twitter {
  top: -3px; }

.btn .fa-instagram {
  top: -4px; }

.btn .fa-youtube-play {
  top: -4px; }

.btn .fa-whatsapp {
  top: -4px; }

.btn .fa-envelope {
  font-size: 120%;
  top: -6px; }

/*-----------------------------------------------------*/
/*	FORMS
/*-----------------------------------------------------*/
form label {
  font-weight: 300;
  font-size: .9rem; }

form .form-control {
  border: solid 2px #009A98;
  font-size: 1rem;
  line-height: 1.3;
  padding: 6px 14px; }

form .bootstrap-select .dropdown-toggle.btn-default,
form .bootstrap-select.btn-group.open .dropdown-toggle.btn-default {
  background: #fff;
  border: solid 2px #009A98;
  color: #4D4D4D;
  font-weight: 300; }
  form .bootstrap-select .dropdown-toggle.btn-default:hover, form .bootstrap-select .dropdown-toggle.btn-default:active, form .bootstrap-select .dropdown-toggle.btn-default:focus,
  form .bootstrap-select.btn-group.open .dropdown-toggle.btn-default:hover,
  form .bootstrap-select.btn-group.open .dropdown-toggle.btn-default:active,
  form .bootstrap-select.btn-group.open .dropdown-toggle.btn-default:focus {
    background: #fff;
    border: solid 2px #009A98;
    color: #009A98; }

form .bootstrap-select .dropdown-menu {
  border-radius: 0; }

form .form-group.has-feedback,
form.form-horizontal .form-group.has-feedback {
  margin: 0; }

.form-horizontal .checkbox,
.form-horizontal .radio,
.checkbox,
.radio {
  padding-top: 0; }
  .form-horizontal .checkbox label,
  .form-horizontal .radio label,
  .checkbox label,
  .radio label {
    font-weight: 300;
    padding-top: 0; }
  .form-horizontal .checkbox span::before,
  .form-horizontal .checkbox span::after,
  .form-horizontal .radio span::before,
  .form-horizontal .radio span::after,
  .checkbox span::before,
  .checkbox span::after,
  .radio span::before,
  .radio span::after {
    color: #009A98 !important; }

.radio label > input[type="radio"] + span::after {
  content: "\f400"; }

.form-horizontal label {
  padding-top: 10px; }

/*-----------------------------------------------------*/
/*	FOOTER
/*-----------------------------------------------------*/
.inici .main-footer {
  margin-top: 0; }
  .inici .main-footer .footer-1 > .container {
    border-top: none; }

.main-footer {
  margin-top: 40px; }
.main-footer .footer-1 {
  border-top: dashed 1px #999;
}
  .main-footer .footer-1 > .container {
    padding: 40px 0 40px; }
  .main-footer .footer-1 .large-brand {
    width: 80%;
    margin: 0 auto 30px;
    display: block; }
  .main-footer .footer-2 {
    border-top: solid 1px #666;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1) inset;
    padding: 40px 0 20px; }
    .main-footer .footer-2 .svg.girona-campers {
      width: 300px; }
    .main-footer .footer-2 .credits {
      text-align: right;
      font: 300 1.1rem/1 "Oswald", sans-serif;
      padding-top: 57px; }

/*-----------------------------------------------*/
/*	RESPONSIVE
/*	Bootstrap media queries
/*-----------------------------------------------*/
/* Large screens ----------- */
@media only screen and (min-width: 1824px) {
  /* Styles */ }

/* Desktops and laptops ----------- */
@media only screen and (min-width: 1224px) {
  /* Styles */ }

@media screen and (max-width: 1200px) {
  .hero #main-navbar {
    padding: 0; }
  .block-features .block {
    width: 60px;
    height: 60px; } }

@media screen and (max-width: 1050px) {
  .hero #main-navbar ul.nav .nav-item {
    font-size: 1rem; }
  .block-features .block {
    width: 55px;
    height: 55px; } }

@media screen and (max-width: 991px) {
  body {
    font-size: 14px; }
  .hero {
    padding-top: 90px;
    padding-bottom: 30px; }
    .hero #main-navbar {
      padding: 0;
      margin-left: -15px;
      float: left; }
      .hero #main-navbar ul.nav .nav-item {
        font-size: .9rem; }
    .hero .navbar-brand {
      height: 38px;
      padding-bottom: 0; }
  .btn-download {
    margin-left: 0; }
    .btn-download small {
      font-size: 1rem;
      line-height: 2.2; }
    .btn-download br {
      display: none; }
  .product-features > .flex > div::after {
    content: '';
    display: block;
    clear: both; }
/*  .product-features .card {
    text-align: left !important;
    width: calc(80% - 60px);
    margin: 0 auto 20px;
    left: 60px;
    position: relative; }
    */
    .product-features .card .card-block {
      padding-left: 90px; }
      .product-features .card .card-block .h4 {
        display: inline-block; }
        .product-features .card .card-block .h4 .separator {
          min-width: 40px; }
  .product-features .card + .row {
    width: calc(80% - 60px);
    margin: 0 auto 40px;
    left: 60px;
    position: relative; }
    .product-features .card + .row > [class^="col-"] {
      padding: 0; }
      .product-features .card + .row > [class^="col-"] .btn {
        font-size: 1.1rem; }
        .product-features .card + .row > [class^="col-"] .btn br {
          display: none; }
  .product-features .card svg {
    margin-top: 10px;
    position: absolute;
    left: -60px; }
  .form-group {
    margin-bottom: 5px; }
  .form-left {
    padding-right: 15px;
    padding-bottom: 50px; }
  .form-right {
    padding-left: 15px; }
  .iso-xl, .iso-wave {
    width: 300px; }
  .pagination li a {
    line-height: 2.4; }
  .main-footer .footer-1 .large-brand {
    width: 300px; } }

@media screen and (max-width: 767px) {
  .collapse.in {
    display: block !important; }
  .navbar-brand {
    padding-top: 0; }
  .hero #main-navbar {
    background: #009A98;
    width: 100%;
    height: 100%;
    margin: 0 !important;
    left: 0;
    top: 0;
    position: fixed;
    -webkit-transition: .3s;
    transition: .3s; }
    .hero #main-navbar .navbar-nav {
      margin: 0;
      top: 20px;
      position: relative; }
      .hero #main-navbar .navbar-nav .nav-link {
        padding-top: 20px;
        padding-bottom: 20px; }
    .hero #main-navbar .btn.close {
      right: 20px;
      top: 10px; }
      .hero #main-navbar .btn.close::before, .hero #main-navbar .btn.close::after {
        background: #fff; }
    .hero #main-navbar ul.nav .nav-item {
      font-size: 1.1rem; }
  .hero {
    padding-top: 50px; }
  .hero .navbar {
    position: absolute; }
  .hero .navbar .btn-group.bootstrap-select {
    left: 0;
    bottom: 0;
    position: absolute; }
    .hero .navbar .btn-group.bootstrap-select.dropup .dropdown-toggle::after {
      border-bottom-color: #fff; }
    .hero .navbar .btn-group.bootstrap-select .dropdown-toggle {
      font-size: .8rem;
      float: none; }
    .hero .navbar .btn-group.bootstrap-select .dropdown-menu:not(.inner) {
      width: 150px;
      min-width: 1px;
      float: none;
      left: 50%;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%);}
  #iso-wave {
    width: 180px; }
  .hero .navbar.alt-nav .bootstrap-select.btn-group .dropdown-toggle .filter-option {
    color: #fff; }
  .hero .navbar.alt-nav .bootstrap-select.btn-group .dropdown-toggle::after {
    border-top-color: #fff; }
  .hero .navbar.alt-nav .bootstrap-select .btn-default {
    border-color: #fff; }
  .hero .navbar.alt-nav #main-navbar ul.nav .nav-link {
    color: #fff; }
  .display-4 {
    font-size: 2.2rem; }
  .card .display-4 {
    font-size: 1.9rem; }
  .btn-download br {
    display: block; }
  .btn-download small {
    font-size: .8rem;
    line-height: 1.4; }
  #price-label {
    width: 170px;
    margin: 0 auto;
    display: block; }
  .card-excerpt .post-title {
    font-size: 1.2rem; }
  .flex-grid .flex {
    flex-direction: column; }
  .flex-grid [class^="col-"] {
    padding-left: 15px !important;
    padding-right: 15px !important; }
  .flex-grid .card-full-image {
    height: 170px; }
  .form-left.clearfix {
    padding-bottom: 20px; }
    .form-left.clearfix + .form-right {
      padding-bottom: 40px; } }

@media screen and (max-width: 440px) {
  .hero #main-navbar .navbar-nav .nav-link {
    padding-top: 15px;
    padding-bottom: 15px; }
  .hero {
    padding-top: 60px;
    padding-bottom: 30px; }
    .hero .hero-bg {
      height: 320px;
      top: 0; }
  .hero > .container h1 {
    font-size: 2rem; }
  .hero > .container .page-description {
    font-size: .9rem; }
  .separator.weight-2 {
    height: 5px; }
  #iso-mountain,
  #iso-wave {
    width: 120px; }
  .iso-xl, .iso-wave {
    width: 160px; }
  .display-4 {
    font-size: 1.9rem; }
  .modelsnav {
    height: auto;
    padding-top: 30px;
    padding-bottom: 50px;
    position: relative; }
    .modelsnav .btn {
      margin: 0 10px;
      top: 0;
      float: none !important; }
  .product-features .card {
    text-align: center !important;
    left: 0;
    width: auto; }
    .product-features .card .card-block {
      padding-left: 20px; }
    .product-features .card svg {
      left: auto;
      margin-top: -60px;
      position: relative; }
  .product-features .card + .row {
    left: 0;
    width: auto;
    margin-bottom: 80px; }
    .product-features .card + .row > [class^="col-"] .btn {
      font-size: .9rem;
      padding: 15px 10px; }
  .portfolio-grid .img-portfolio {
    width: 100%; }
  .card-block.p-y-md.p-x-lg-2 {
    padding-left: 20px !important;
    padding-right: 20px !important; }
    .card-block.p-y-md.p-x-lg-2 .btn.btn-lg {
      font-size: .9rem; }
  .card-block .list-dot {
    font-size: .8rem; }
  .date-year {
    margin-top: 15px; }
    .date-year + .form-control-feedback {
      top: 15px; }
  .form-group.has-feedback.p-r-sm {
    padding-right: 15px !important; }
  .form-group.has-feedback.p-x-sm {
    padding-left: 15px !important;
    padding-right: 15px !important; }
  .form-group.has-feedback.p-l-sm {
    padding-left: 15px !important; }
  .row .col-md-4.p-r-sm {
    padding-right: 15px !important; }
  .radio.inline-block {
    text-align: left;
    width: 100%; }
  .radio + .radio {
    margin-top: 10px; }
  .title-undeline span,
  .title-undeline small {
    display: block;
    float: none !important; }
  .card-thumbnail-svg .svg {
    height: 60%; }
  .card-badge {
    width: 100px;
    height: 100px;
    border-width: 4px;
    right: 10px;
    bottom: -25px; }
    .card-badge .content span {
      font-size: 3rem; }
    .card-badge .content small {
      font-size: 1rem; }
    .card-badge .label {
      font-size: .7rem;
      left: -74px; }
      .card-badge .label::after {
        border-top-width: 12px;
        border-bottom-width: 12px; }
  .block-features .block {
    margin-bottom: 10px; }
  .block-features + div + .clearfix .pull-left {
    text-align: center;
    width: 100%; }
    .block-features + div + .clearfix .pull-left .btn.btn-primary:not(.btn-rounded) {
      width: 100%;
      padding: 12px 10px;
      margin-bottom: 30px;
      display: block; }
    .block-features + div + .clearfix .pull-left .m-l {
      margin-left: 0 !important; }
  .flex {
    display: block !important; }
  .card-excerpt {
    margin-bottom: 40px !important; }
  .pagination li {
    display: none; }
  .pagination li:first-child,
  .pagination li:last-child {
    display: inline-block; }
  .checkbox {
    width: 100%; }
  .main-footer .footer-1 > .container {
    padding: 60px 0 40px; }
  .main-footer .footer-1 .large-brand {
    width: 240px; }
  .main-footer .footer-2 .svg.girona-campers {
    width: 240px;
    margin: 0 auto;
    display: block; }
  .main-footer .footer-2 .credits {
    font-size: .9rem;
    padding-top: 40px;
    padding-bottom: 30px;
    text-align: center; } }
.container .modelsnav a{
  padding-top: 6px;
}
.wpcf7-list-item-label {
  padding-left: 30px;
}
.error{
  color:red;
}
.artic {
  color: #4D4D4D;
}
.artic:hover{
  text-decoration: none;
}
.no-decoration:hover{
  text-decoration: none;
}
.portfolio-grid:after{
  content: '';
  display: block;
  clear: both;

}
@media screen and (max-width: 991px) {
  .r-m-b{
    margin-bottom: 1.5rem !important;
  }
}
.date{
  text-align: center;
}
.underline {
  border-bottom: solid 2px #009A98;
  color: #009A98;
  text-transform: uppercase;
  padding-bottom: 10px;
  margin-bottom: 30px;
  display: block;
}
.form-group .p-r-sm{
  padding-right: 15px!important;
}
.fix-height {
  height: 680px;
}
.underline-models{
  border-bottom: solid 1px #ddd;
  margin-bottom: 50px!important;
  padding-bottom: 50px;
  display: block;
}
.condicions p span {
  font-weight: inherit!important;
}
.condicions {
  text-align: justify;
}
.product-features .p-b {
  padding-bottom: 0.75rem!important;
}
.product-features ul {
  margin-bottom: 5px;
}
.left {
  float: left;
}
.features-models .block {
    width: 60px;
    height: 60px;
    margin-bottom: 10px;
}
.post p span {
  font-weight: inherit!important;
}
.card-thumbnail.fx-zoom-in .card-img img{
  -webkit-transition: 10s ease-out;
  -moz-transition: 10s ease-out;
  -ms-transition: 10s ease-out;
  -o-transition: 10s ease-out;
  transition: 10s ease-out;
}
.card-block .list-unstyled li {
    line-height: 1.3;
}
.card-thumbnail-svg svg{
    width: auto;
}

@media screen and (max-width: 440px) {
    .wpcf7 .checkbox.inline-block label {
        padding-left: 0;
    }
    .wpcf7-list-item-label {
        padding-left: 10px;
    }
/*    .product-features .card {
        text-align: left !important;
        width: calc(80% - 60px);
        margin: 0 auto 20px;
        left: 60px;
        position: relative;
    }*/

}
@media screen and (min-width: 441px) and (max-width: 770px){
    .blog .col-sm-4.col-ms-6{
        height: 370px;
    }
}
@media screen and (min-width: 441px) and (max-width: 991px){
    .product-features .card .card-block{
        padding: inherit;
    }
}
@media screen and (max-width: 1024px) {
    .experiencies {
        display: none;
    }

    .p-t-r {
        padding-top: 2.2rem !important;
    }

    .product-features .flex {
        display: block !important;
    }

}
@media screen and (min-width: 1000px){
    .home .furgos .col-md-6 {
        height: 680px;
    }
}
@media screen and (min-width: 768px) and (max-width: 1024px){
    .home .col-sm-8 {
        width: 100%;
    }
}
@media screen and (min-width: 438px) and (max-width: 770px){
    .text-checkbox {
        margin-left: 25px;
    }
}
@media screen and (max-width: 770px){
    .hero .no-width {
        width: inherit;
    }

    .card-excerpt .card-block{
        padding-bottom: 0;
    }
    .card-excerpt .card-block p {
        margin-bottom:15px;
    }

    .post .p-b-lg-2 {
        padding-bottom: 0!important;
    }
    #accesoris .left, #serveis .left{
        float: left;
    }
    #accesoris .checkbox, #serveis .checkbox {
        width: inherit;
    }

    .form-left {
        padding-bottom: 40px;
    }
    .tarifes .no-m-b-r{
        margin-bottom: 0!important;
    }
    .form-horizontal .send-form p{
        margin-bottom: 0;
    }

    .condicions {
        padding-left: 15px;
        padding-right: 15px;
    }
    #faqs {
        padding-left: 15px;
        padding-right: 15px;
    }
    .wpcf7 + .p-b-lg-1{
        padding-bottom: 0!important;
    }

}
.reservar-button p{
  margin-bottom: 0;
}
.post .social{
    text-align: right;
}
@media screen and (max-width: 991px) {
    .product-features .card svg {
        left: auto;
        margin-top: -60px;
        position: relative
    }
    .margin-responsive {
        margin-bottom: 80px;
    }
    .downarr {
        display: none;
    }
    .post .social{
        text-align: left;
    }
}
.home .card-img img{
    height: auto;!important;
}
@media screen and (min-width: 768px){
    .relative {
        position: relative;
    }
    .relative .card-full-image{
        position: absolute;
    }
    .home .col-sm-6{
        padding-right: 0px;
    }
}
@media screen and (min-width: 438px) and (max-width: 710px){
    .checkbox label{
        padding-left: 0;
    }
    .wpcf7 .contact-form .form-left {
        width: 70%;
    }
    .wpcf7 .contact-form .form-left .checkbox {
        width: 100%;
    }
}

/**MARGINS EDIT **/
.p-t-m{
  padding-top: 3rem!important;
}
.p-b-m{
  padding-bottom: 3rem!important;
}
.m-b-m {
  margin-bottom: 3rem!important;
}
.main-footer .dotted{
  border-top: inherit!important;
}

/*ALERT UPDATE BROWSER */
body .buorg, .js-notice{
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  text-align: center;
  padding: 30px;
  max-width: 40%;
  background-position: center 10px;
  -webkit-box-shadow: 0 0 2000px 2000px rgba(0, 0, 0, 0.7);
  box-shadow: 0 0 2000px 2000px rgba(0, 0, 0, 0.7);
}
html {
  margin-top: 0px!important;
}
body .buorg  a{
  margin-top: 10px!important;
}
.home .container .flex-grid .flex{
  position: relative;
}
.js-notice {
  display:none;
}
.no-js .js-notice {
  display:block;
  position: absolute;
  z-index:111111;
  -webkit-box-shadow: 0 0 2000px 2000px rgba(0, 0, 0, 0.7);
  box-shadow: 0 0 2000px 8000px rgba(0, 0, 0, 0.7);
  background-color: white;
  max-width: inherit;
  margin-top: 12px;
}