
body.login {
  background-color:#fff;
}

.login div#login h1 a {
  background-image: url("../images/logo.png");
  width:169px;
  height:95px;
  background-size:inherit;
}

.login form {
  background-color:#202882;
  color:#fff;
}

.login form label {
  color:#fff;
}
.login form input[type=checkbox]:checked:before {
  color:#ee8800;
}
.login form input[type=text]:focus,
.login form input[type=password]:focus,
.login form input[type=checkbox]:focus,
.login form input[type=email]:focus {
  border-color: #ee8800;
  -webkit-box-shadow:none;
  box-shadow:none;
}

.login.wp-core-ui .button-primary {
  background-color:#fff;
  border:1px solid #ee8800;
  color:#202882;
  text-shadow:none;
}
.login.wp-core-ui .button-primary:hover {
  background-color:#ee8800;
  border-color:#fff;
  color:#fff;
}

.login #nav,
.login #backtoblog {
  text-align:center;
}

.login #nav a:hover,
.login #backtoblog a:hover {
  color:#202882;
}
